<!-- footer component https://ensemble.corelogic.com/clui/footer -->
<footer class="footer footer-light">
    <div class="footer-logo">
        <div class="clgx-logo"></div>
    </div>
    <div class="footer-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:">About Our Company</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">Contact Us</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">FAQs</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">Sitemap</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.corelogic.com/legal.aspx" target="_blank">Legal</a>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.corelogic.com/privacy.aspx" target="_blank">Privacy</a>
            </li>
        </ul>
        <div class="footer-date"> © 2018 CoreLogic. All Rights Reserved.</div>
    </div>
</footer>
<!-- footer component -->
